body,h1,h2,h3,h4,h5 {font-family: "Poppins", sans-serif}
body {font-size:16px;}
.w3-half img{margin-bottom:-6px;margin-top:16px;opacity:0.8;cursor:pointer}
.w3-half img:hover{opacity:1}
a{
    text-decoration: none;
}
.line{
display: flex;
justify-content: space-evenly;
flex-direction: column;
}
.inLine{
display: flex;
justify-content: space-evenly;
}
.box{
    padding: 1rem;
}
.image{
width : 100%;
height: auto;
max-width: 100px;
}